/* --------- ACCUEIL --------- */

#ecranAccueil{
  background-image: url("images/accueilImage.jpg");
  height: 100vh;
}

#ecranAccueil h1{
  color : white;
  /* haut | droit | bas | gauche */
  margin : 0% auto 0% auto;
  text-align : center;
  font-size: 70px;
  font-weight: normal;
  width : 40%;
  min-width: 385px;
  padding-top: 15%;
}

#toContentAccueil{
  text-align : center;
  margin-top : 18%;
}

#toContentAccueil a{
  text-decoration: none;
  color : white;
}

#toContentAccueil a img{
  width : 5em;
  height: 5em;
}

#presentation{
  text-align: center;
  font-size: 17px;
  line-height: 1.5em;
  /* haut | droit | bas | gauche */
  margin : 1% 26% 1% 26%;
}

#galerie{
  
}
