/* Ecran d'accueil */

#ecranAccueil{
  background-image: url("images/accueil/accueilImage.jpg");
  height: 100vh;
}

#ecranAccueil h1{
  color : white;
  /* haut | droit | bas | gauche */
  margin : 0% auto 0% auto;
  text-align : center;
  font-size: 4em;
  font-weight: normal;
  width : 40%;
  min-width: 446px;
  position: relative;
  top: 30vh;
}

#toContentAccueil{
  text-align : center;
  position: relative;
  top: 60vh;
}

#toContentAccueil a img{
  width : 5em;
  height: 5em;
}

/* Contenu accueil */

#presentationSite p{
    text-align: center;
    margin-left: 27%;
    margin-right: 27%;
    font-size: 17px;
    line-height: 1.7;
}

#selectRubrique{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin-bottom: 1%;
}

#histoire{ background-image: url("images/accueil/anneBretagne.jpg"); }
#culture{ background-image: url("images/accueil/drapeau_breton.jpg"); }
#hotels{ background-image: url("images/accueil/hotelS2.jpg"); }
#activites{ background-image: url("images/accueil/rocher_tourisme.jpg"); }
#pratique{ background-image: url("images/accueil/cyclisme.jpg"); }

#selectRubrique .itemGalerie{
  width : 316px;
  height: 310px;
  background-size: cover;
  vertical-align: bottom;
  font-size: 2em;
  margin: 0.5%;
  margin-bottom: 10px;
}

#selectRubrique .itemGalerie a{
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  margin : 0;
  z-index: 1;
  transition-duration: 1s;
  color: transparent;
  line-height: 9;
}

#selectRubrique .itemGalerie a:hover{
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

/* MOBILE */
@media screen and (max-width:950px){
  #presentationSite p{
      margin-left: 5%;
      margin-right: 5%;
  }
}

/* PETIT MOBILE */
@media screen and (max-width:460px){
  #ecranAccueil h1{
    font-size: 2em;
    min-width: 250px;
  }

  #toContentAccueil{
  }

  #toContentAccueil a img{
    width : 4em;
    height: 4em;
  }
}
